.dark-mode {
    filter: invert(1) hue-rotate(180deg);
}

.invert {
    filter: invert(1) hue-rotate(180deg); 
}

.invert-text-dark {
    
    font-weight: bold;
}


.dark-mode-second-window {
    filter: invert(1) hue-rotate(180deg);
}