body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  -webkit-app-region: drag;
  margin: 0;
  background-color: var(--bg-html)
}

* {
  -webkit-app-region: drag;
}

:root {
  --color-special-1: #ed553b;
  --color-special-2: #f6d55c;
  --color-special-3: #3caea3;
  --color-special-4: #513cae;
  --color-special-5: #ae3c4f;
  --primary-text: #fff;
  --bg-html: #292929;
  --hover-links: #ffffff;
  --base_links: #afafaf;
  --bg-nav: #fff;
  --active-fill: #fff;
}

.color {
    color: var(--color-special-3);
}
.color-2 {
  color: var(--color-special-2);
}


nav {
  z-index: 10;
  background-color: var(--bg-nav);
  height: 38px;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.divider {
  padding: 2px 10px;
}

.svg:hover {
  fill: var(--active-fill);
  background-color:var(--bg-html);
}


.close-svg:hover {
  fill: white;
  background-color: var(--color-special-1);
}

.svg {
  -webkit-app-region: no-drag;
  padding: 10px 14px;
  cursor: pointer;
  fill: var(--bg-html);
}

.left-bar {
  display: flex;
}


.right-bar {
  display: flex;
}

.active-link {
  fill: var(--active-fill);
  background-color: var(--bg-html);
}

.page-header {
  margin: 0px 0px 5px 0px;
  color: var(--primary-text);
  font-size: 26px;
}

.page-header-2 {
  color: var(--primary-text);
  font-size: 22px;
  font-weight: 100;
}



.container {
  width: 95vw;
  margin: auto;
}

/* width */
::-webkit-scrollbar {
  width: .1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(#fff)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 600px) {
  .item {
    margin-top: 20px;
  }
}

footer {
  position: fixed;
  margin: auto;
  bottom: 0;
}

#version {
  padding:10px 0px 5px 5px;
  color: #5d5d5d;
}

.hidden{
  display: none;
}

.m-top-60 {
  margin-top: 60px;
}