#memory-section {
    -webkit-app-region: no-drag;
    margin: auto;
    width: 82vw;
    overflow: visible;
    margin-top: 60px;
}

.minimal-card-mem {
    cursor: pointer;
    width: 210px;
    height: 190px;
    border-radius: 8px;
    text-align: center;
    margin: auto;
    color: #ebebeb;
    margin-top: 40px;
    background-color: #232323;
}

#mem-mode-btn {
    margin-top: 10px;
    border-radius: 4px;
    padding: 10px 14px;
    background-color: transparent;
    border: 1px solid rgb(156, 156, 156);
    color:#ebebeb;
    font-weight: 100;
}


@media only screen and (max-width: 760px) {
    
    #mem-mode-btn {
        margin-top: 20px;
    }

    .lg-header {
        margin-top: 10px;
    }
}