.settings-navigation {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0px;
}

li, span, input, p, select, label {
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.setting-item {
    -webkit-app-region: no-drag;
}

.settings-links {
    padding: 8px 16px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    color: var(--secondary-text);
    border: 0;
    border-bottom: 2px solid transparent;
    transition: color .6s;
}

.settings-links:hover {
    color: ar(--primary-text);
}

.left-gap {
    margin-left: 20px;
}

.settings-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 95vw;

}

.header-sm  {
    font-style: italic;
    color: var(--third-text);
    font-weight: 400;
}

.item-header {
    font-weight: 100;
    color: var(--secondary-text);
    display: block;
    margin: 0 0px 10px 5px;
}

.input-item {
    padding: 5px 10px;
    font-size: 14px;
    border: 0;
    border-radius: 4px;
    margin: 0px 0px 20px 10px;
    outline: none;
}

.input-item:hover {
    background-color: var(--third-text);
}

.lg-input  {
    max-width: 300px ;
}

.md-input  {
    max-width: 90px ;
}

.sm-input  {
    max-width: 70px ;
}

    .animate-in {
        animation: anim 2.5s ease-in-out;
    }
  @keyframes anim {
    0% {
      transform: translateX(100%);
    }
    14.28% {
      transform: translateX(0);
    }
    85.71% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }